header {
	margin-top: @margin-base;
	padding: @padding-base;
	background-color: @color-bg-header;
	@media (min-width: @break-medium) {
		min-height: 4em;
	}
}

header h1 {
	margin-left: @margin-base;
	margin-top: 0;
	margin-bottom: 0;
	small {
		color: @color-light;
	}
	@media (max-width: @break-small) {
		font-size: 2.4em;
		text-align: center;
	}
	@media (min-width: @break-large) {
		text-align: center;
	}

}

.page-title {
	text-align: center;
	margin-top: 0;
	margin-bottom: @margin-base/2;
}