body.login {
	overflow: hidden;
	height: 100%;
	width: 100%;

	background: url('../res/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#filler {
	width: 100%;
	height: 0;
}

#loginError {
	display: none;
	
	width: 20em;
	padding: @padding-base;
	margin: 0 auto @margin-base auto;
	
	text-align: center;
	background-color: @color-false;
	border-radius: @border-rad-base;
	h5 {
		font-weight: 300;
	}
}

form.login {
	margin-top: @margin-base*4;

	font-size: 1.2em;
	text-align: center;
	label {
		display: block;
		margin: @margin-base;
	}
	input {
		margin: @margin-base;

		text-align: center;

		border-radius: @border-rad-base;
		padding: @padding-base/2;

		border: none;
	}
	button {
		margin-top: @margin-base*2;
	}
}