nav {
	background-color: @bg-color-base;
	@media (min-width: @break-medium) {
		min-width: 10em;
		min-height: 2em;
		position: absolute;
		top: @margin-base;
		right: 10px;
		margin-right: 0px;
	}
	ul {
		display:none;
		li {
			a {
				.button();
				
			}
		}
	}
}

#menuToggle {
		display: block;
		width: 100%;
		cursor: pointer;
		text-align: center;
		font-size: 2em;
		min-height: 1em;
		#caret {
			.transition(@time: .2s);
		}
	}

.flip {
	.rotate(@amount: 180deg);
}