#profile {
	@media (min-width: @break-medium) {
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}
	@media (min-width: @break-large) {
		width: 50%;
	}
}
#name {
	text-align: right;
	margin-right: @margin-base;
	@media (min-width: @break-small) {
		text-align: center;
	}
}

#feedback h5 {
	@media (min-width: @break-small) {
		text-align: center;
	}
}

#back {
	float: left;
	vertical-align: middle;
	@media (min-width: @break-small) {
		float: none;
		position: absolute;
	}
}

#new-feedback {
	h4 {
		text-align: center;
	}
	textarea {
		width: 80%;
		border-radius: @border-rad-base;
	}
	textarea, button {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}