//Arrange the main components

main {
	margin: @margin-base/2;
	padding: @padding-base/2;
	max-width: 100%;
}

nav {
	max-width: 100%;
	padding: @padding-base;
	margin-bottom: @margin-base;
	ul {
		padding: 0px;
		margin: 0px;
		width: 100%;

		list-style-type: none;
		text-align: center;
	}
}