#summary {
	@media (min-width: @break-medium) {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	table {
		display: block;
		max-width: 100%;
		overflow-x: auto;
		@media (min-width: @break-small) {
			display: table;
			width: 100%;
		}
		tr {
			cursor: pointer;
			&:nth-child(even) {
				background-color: lighten(@bg-color-base, 20%);
			}
			&:hover, &:active, &:focus {
				background-color: @bg-color-base;
				td {
					background-color: transparent;
				}
			}
			td, th {
				padding: @padding-base/2;
				.border(@w: 1px; @c: lighten(@color-1-base, 60%));
			}
		}
		thead tr {
			background-color: initial !important;
			cursor: initial;
		}
	}
}

#profile {
 	display:none;
}