html, body {
	font-family: 'Lato', sans-serif;
	font-size: @font-size-base;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	line-height: 1;
	margin-top: .4em;
	margin-bottom: .4em;
	color: darken(@color-dark, 15%);
	small {
		font-weight: 300;
		color: #b3b3b3;
		font-size: .7em;
	}
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.6em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 1.8em;
}

h5 {
	font-size: 1.4em;
}
button{
	.button();
}
