/*Base colors */

@color-dark: #34495e;
@color-light: #ecf0f1;
@color-bg: #bdc3c7;
@color-bg-header: lighten(#3498db, 15%);
@color-true: #2ecc71;
@color-warning: #f1c40f;
@color-false: #e74c3c;

/*Color aliases*/
@color-1-base: @color-dark;
@color-2-base: @color-light;
@bg-color-base: @color-bg;

/*Base font-size and weight */
@font-size-base: 16px;
@font-weight-base: 400;

/*Base padding and margin */
@padding-base: .5em;
@margin-base: .5em;

/*Border bases */
@border-rad-base: .4em;

/*Brakepoints */
@break-small: 650px;
@break-medium: 850px;
@break-large: 1050px;


//MIXINS

.transition(@prop: all; @time: .2s; @ease: ease-in-out) {
	transition: @prop @time @ease;
	-webkit-transition: @prop @time @ease;
	-moz-transition: @prop @time @ease;
	-o-transition: @prop @time @ease;
}

.rotate(@amount) {
	transform: rotate(@amount);
	-webkit-transform: rotate(@amount);
	-ms-transform: rotate(@amount);
	-o-transform: rotate(@amount);
-moz-transform: rotate(@amount);
}

.button(@bg: @color-1-base; @color: @color-2-base) {
	display: inline-block;
	padding: @padding-base 2*@padding-base @padding-base 2*@padding-base;
	margin: @margin-base/2;
	
	cursor: pointer;

	background-color: @bg;
	color: @color;

	.border(@c: lighten(@color-1-base, 4%); @w: 1px; @rad: @border-rad-base);

	text-decoration: none;
	&:hover, &:active {
		background-color: darken(@bg, 10%);
	}
}

.true {
	background-color: @color-true;
}

.warning {
	background-color: @color-warning;
}

.false {
	background-color: @color-false;
}

.border(@w: 2px; @s: solid; @c: @color-1-base; @rad: 0) {
	border: @w @s @c;
	border-radius: @rad;
}